In [ ]:
!pip install -q python-dotenv
!pip install -q gradio
!pip install -q unstructured
!pip install -q openpyxl
!pip install -q tiktoken
!pip install -q chromadb
!pip install -q sentence-transformers
!pip install -q --upgrade langchain
!pip install -q -U langchain-chroma
!pip install -q -U langchain-google-vertexai
!pip install -q -U langchain-community
!pip install -q -U langchain langchain-huggingface
!pip install -q sqlalchemy
!pip install -q pymysql
!pip install -q openai mysql-connector-python

In [133]:
import os
import glob
import json
import chromadb
import mysql.connector
import openai
import gradio as gr
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import google.generativeai as genai
from dotenv import load_dotenv
from openai import OpenAI
from chromadb import chromadb
from sklearn.manifold import TSNE
from datetime import datetime
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, insert, Float, DateTime, inspect
#from google.colab import userdata

In [2]:
# imports for langchain

from langchain.document_loaders import DirectoryLoader, TextLoader, UnstructuredExcelLoader
from langchain.text_splitter import CharacterTextSplitter
from langchain.schema import Document
from langchain.embeddings import OpenAIEmbeddings, SentenceTransformerEmbeddings, HuggingFaceEmbeddings 
from langchain.vectorstores import Chroma
from langchain.chat_models import ChatOpenAI
from langchain.memory import ConversationBufferMemory
from langchain.chains import ConversationalRetrievalChain
from langchain.prompts import PromptTemplate
from langchain_chroma import Chroma
from langchain_google_vertexai import ChatVertexAI #Import ChatVertexAI from langchain_google_vertexai
from pydantic import BaseModel

from chromadb import Client, Settings

In [143]:
# Load environment variables in a file called .env
load_dotenv()
os.environ['GOOGLE_API_KEY'] = os.getenv('GOOGLE_API_KEY', 'your-key-if-not-using-env')
os.environ['OPENAI_API_KEY'] = os.getenv('OPENAI_API_KEY', 'your-key-if-not-using-env')
os.environ['MYSQL_KEY'] = os.getenv('MYSQL_KEY', 'your-key-if-not-using-env')

In [4]:
genai.configure(api_key=os.environ['GOOGLE_API_KEY'])
Gemini_model = genai.GenerativeModel("gemini-1.5-flash")
MODEL = "gemini-1.5-flash" 
#Testing Gemini AI
#response = model.generate_content("Explain how AI works")
#print(response.text)

In [5]:
# price is a factor for our company, so we're going to use a low cost model
db_name = "vector_db"

In [6]:
# Knowledge base is in /RAG_ImEx/Data
#knowledge_base_path = "Data/*"  
# Knowledge base is in /RAG_ImEx/Data_test
knowledge_base_path = "Data_test/*"

In [118]:
columns_to_remove = [
    'MA HQ', 'MA HAI QUAN', 'MA CHI CUC',
    'TEN HAI QUAN', 'SO DT', 'DIA DIEM CHO THONG QUAN',
    'DIA DIEM CHO THONG QUAN', 'DIA DIEM NHAN HANG',
    'DIA DIEM DO HANG', 'DIA DIEM XEP HANG', 'P.TIEN V.CHUYEN', 'TRI GIA',
    'NUOC NK','LOAI HINH'
]
address_cols = ['dia chi 1', 'dia chi 2', 'dia chi 3', 'dia chi 4']

header_translations = {
    "MA LH": "Import_Code", 
    "NHA NHAP KHAU" : "Importer_Name",
    "DIA CHI" : "Importer_Address",
    "nha xuat khau" : "Exporter_Name",
    "DIA CHI XK" : " Exporter_Address",
    "DON VI DOI TAC":"Partner_Company", 
    "DIA CHI DON VI DOI TAC" : "Partner_Address",
    "DK TT": "Payment_term",
    "DK GH": "Incoterms",
    "TI GIA": "Exchange_Rate",
    "NGAY" : "Date",
    "MA HANG" : "HSCODE",
    "TEN HANG": "Product_Info", 
    "LUONG": "Quantity",
    "DVT" : "Unit",
    "DON GIA" : "Unit_Price",
    "MA NT": "Payment_Currency",
    "THUE XNK" : "Import_Tax",
    "MA DOANH NGHIEP" : "Tax_ID",
}

In [119]:
def combine_excel_files(folder_path, excel_type, columns_to_remove, address_cols, header_translations):
    # Create an empty DataFrame to hold combined data
    combined_df = pd.DataFrame()
    
    # Use glob to find all Excel files in the specified folder that match the pattern
    excel_files = glob.glob(os.path.join(folder_path, excel_type))
    
    # Print found files for debugging
    print(f"Found files: {excel_files}")
    
    for file in excel_files:
        # Load each Excel file into a DataFrame
        df = pd.read_excel(file)
        
        # Convert all column names to lowercase
        df.columns = df.columns.str.lower()
        
        # Print column names for debugging
        #print(f"Columns in {file}: {df.columns.tolist()}")
        
        # Remove specified columns (in lowercase)
        columns_to_remove_lower = [col.lower() for col in columns_to_remove]
        df.drop(columns=columns_to_remove_lower, inplace=True, errors='ignore')
        
        # Check if address columns exist before combining them (in lowercase)
        existing_address_cols = [col for col in address_cols if col.lower() in df.columns]
        
        if existing_address_cols:
            # Combine address columns into a single column
            df['dia chi don vi doi tac'] = df[existing_address_cols].fillna('').agg(' '.join, axis=1)
            # Remove the original address columns after combining
            df.drop(columns=existing_address_cols, inplace=True, errors='ignore')
        else:
            print(f"No address columns found in {file}. Skipping combination.")
        
        # Rename headers according to the provided translations (keys should also be in lowercase)
        header_translations_lower = {k.lower(): v for k, v in header_translations.items()}
        df.rename(columns=header_translations_lower, inplace=True)

        # Clean up column names (remove trailing spaces, etc.)
        df.columns = df.columns.str.strip()  # Remove leading/trailing spaces
        df.columns = df.columns.str.replace(' ', '_')  # Replace spaces with underscores (optional)
        df.columns = df.columns.str.replace('[^A-Za-z0-9_]+', '', regex=True) # Remove special characters (optional)
        df.columns = df.columns.str.lower() # Convert to lowercase (optional, but recommended)

        
        # Append the processed DataFrame to the combined DataFrame
        combined_df = pd.concat([combined_df, df], ignore_index=True)

    # Print final combined DataFrame shape and contents for debugging
    #print(f"Final combined DataFrame shape: {combined_df.shape}")
    #print(combined_df.head())  # Display first few rows
    
    return combined_df

In [120]:
combined_df_NK = combine_excel_files(knowledge_base_path,'72NK*.xlsx', columns_to_remove, address_cols, header_translations)
combined_df_XK = combine_excel_files(knowledge_base_path,'72XK*.xlsx', columns_to_remove, address_cols, header_translations)

Found files: ['Data_test\\Raw Data\\72NK.T1.2024test.xlsx', 'Data_test\\Raw Data\\72NK.T3.2024test.xlsx']
Found files: ['Data_test\\Raw Data\\72XK.T6.2024test.xlsx', 'Data_test\\Raw Data\\72XK.T8.2021test.xlsx']

In [123]:
#print(combined_df_XK.head())
#print(combined_df_NK.head())

In [128]:
def insert_dataframe_to_sql(df, table_name, db_url, if_exists='fail'):
    """
    Inserts a DataFrame into a SQL database table.

    Parameters:
    - df: The DataFrame to insert.
    - table_name: The name of the table in the database.
    - db_url: The database connection URL.
    - if_exists: What to do if the table already exists. Options are 'fail', 'replace', 'append'.
    """
    # Create a database engine
    engine = create_engine(db_url)
    
    # Insert the DataFrame into the SQL table
    df.to_sql(name=table_name, con=engine, if_exists=if_exists, index=False)

# Example usage
# Define your database URL (replace with your actual credentials)
db_url = "mysql+pymysql://root:"+Mysqlkey+"@localhost:3306/my_database"

# Assuming combine_df is your DataFrame that you want to insert
insert_dataframe_to_sql(combined_df_NK, 'combined_table_nk', db_url, if_exists='replace')
insert_dataframe_to_sql(combined_df_XK, 'combined_table_xk', db_url, if_exists='replace')

In [140]:
# Replace with your OpenAI API key
openai.api_key = os.environ['OPENAI_API_KEY']

# Replace with your MySQL credentials
db_host = "localhost"
db_user = "root"
db_password = os.environ['MYSQL_KEY']
db_name = "my_database"

def execute_sql_from_user_query(user_query):
    try:
        # 1. Translate user query to SQL using OpenAI Chat Completion
        messages = [
            {"role": "system", "content": """
            Translate the following user query into a valid SQL command for MySQL, 
            suitable for querying tables named 'combined_table_nk' and 'combined_table_xk'.  
            Assume the tables contain data related to some combined dataset 
            (e.g., potentially related by a common field).  
            If the user query is ambiguous or could refer to other tables, 
            make it explicit that the tables are 'combined_table_nk' and 'combined_table_xk'.
            The user may ask questions like "what is the average of x", 
            "what is the sum of y", or "show me all the data". 
            Be careful to generate efficient SQL, for example, 
            avoid `SELECT *` unless absolutely necessary.  
            If the user asks about specific columns, include them in the select statement. 
            If the user does not mention columns, and asks to see data, 
            select a reasonable number of important columns. 
            If the user asks to see "all the data", limit the result to a reasonable number 
            of rows (e.g., 10) to prevent overwhelming the user.
            """},
            {"role": "user", "content": user_query},
        ]

        response = openai.chat.completions.create(  # Correct way to call Chat Completion
            model="gpt-3.5-turbo",  # Or gpt-4 if you have access
            messages=messages,
            max_tokens=200,
            temperature=0.0,
        )

        sql_command = response.choices[0].message.content.strip()

        print(f"Generated SQL: {sql_command}")

        # 2. Connect to MySQL (same as before)
        mydb = mysql.connector.connect(
            host=db_host,
            user=db_user,
            password=db_password,
            database=db_name
        )

        mycursor = mydb.cursor()

        # 3. Execute the SQL command (same as before)
        mycursor.execute(sql_command)

        # 4. Fetch the results (same as before)
        results = mycursor.fetchall()

        # 5. Convert results to Pandas DataFrame (same as before)
        column_names = [description[0] for description in mycursor.description]
        df = pd.DataFrame(results, columns=column_names)

        # 6. Close the connection (same as before)
        mydb.close()

        return df

    except mysql.connector.Error as err:
        return f"MySQL Error: {err}"
    except openai.APIError as err:  # Corrected OpenAI error handling!
        return f"OpenAI API Error: {err}"
    except Exception as err:
        return f"An error occurred: {err}"


# Example usage
user_query = input("Enter your query: ")
result = execute_sql_from_user_query(user_query)

if isinstance(result, pd.DataFrame):
    print(result)
elif isinstance(result, str):  # Error message
    print(result)

Enter your query:  show table

Generated SQL: SELECT *
FROM combined_table_nk
LIMIT 10;
MySQL Error: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)

In [144]:
print(os.environ['MYSQL_KEYPW'])

D@ngklh0407